* {
  box-sizing: border-box;
  /* outline: 1px red solid; */
}

.wrapper {
  border: 1px black solid;
  padding: 1rem;
}

.wrapper div {
  border: 1px solid black;
}

.top {
  display: flex;
  gap: 1rem;
}

.top div {
  padding: 2rem;
}

.bottom {
  display: flex;
  justify-content: space-evenly;
}

.bottom form {
  padding: 2rem;
}
